:host ::ng-deep {

  .p-card .p-card-body {
    height: 50vh;
    max-height: 40rem;
  }

  .p-card .p-card-content {
    height: 100%;
    width: 100%;
  }

  div .p-button {
    width: 100%;
  }
}

.card-max {
  max-width: 50rem;
}
